body,
html {
	font-family: "Open Sans", sans-serif;
	/* height: 100%; */
	margin: 0;
	/* padding: 0; */
}
* {
	box-sizing: border-box;
}
body {
	position: relative;
	/* height: auto !important; */
	/* height: 100%; */
	min-height: 100%;
	box-sizing: border-box;
}
.container {
	/* font-weight: 700; */
	display: block;
	width: 100%;
	max-width: 1500px;
	padding: 0 40px;
	margin: 0 auto;
	padding-bottom: 65px;
	text-align: center;
	color: #242423;
	background-position: left bottom;
	background-size: cover;
	background-size: auto 120%;
}
.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
}
.lock {
	overflow: hidden;
	position: fixed;
	width: 100%;
}
ul {
	padding: 0;
	margin: 0;
	flex-shrink: 0;
}
.fresult-label {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 18px;
	font-weight: 300;
	margin-right: auto;
	margin-left: 243px;
	color: #464646;
}
.container-ie8 {
	background: #718edc !important;
}
.container > h1 {
	font-size: 25px;
	font-weight: 400;
	line-height: 1.8;

	width: 100%;
	margin: 0 auto 8px 200px;
	padding-top: 0;

	text-align: center;
}
.search-form {
	/* color: #4d4d4d; */
	font-size: 17px;
	position: relative;
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;
	/* margin-right: auto; */
	/* margin-left: auto; */
	/* max-width: 1240px; */
	border-radius: 0.5rem !important;
	font-family: Arial;
	z-index: 2;
}
.search-form .sub__menu {
	padding: 0;
}
.search-form::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #ffffff;
	opacity: 0;
	z-index: 20;
	border: 2px solid #e0e2e7;
	border-radius: 8px;
	transform: scale(0);
	transition: all 0.2s;
}
.mobile-logo {
	display: none;
}
.search-form::after {
	content: "";
	position: absolute;
	left: 50%;
	height: 35px;
	width: 35px;
	top: 50%;
	background-image: url(../images/35.gif);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 51;
	/* border: 2px solid #e0e2e7; */
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.2s;
}
.search-form.loaded::after {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}
.search-form.loaded::before {
	transform: scale(1);
	opacity: 1;
}
.search-form * {
	color: #666666;
}
.search-form svg path {
	fill: #fff;
}
.search-form .select {
	margin-left: -2px;
	min-width: 166px;
}
.search-form .search__drop {
	margin-left: -1px;
}
.search-field {
	font-size: 1rem;
	line-height: 54px;
	width: auto !important;
	/* max-width: 500px; */
	height: 100%;
	flex-grow: 2;
	min-height: 50px;
	padding: 0 1.2rem 0 1.2rem;
	vertical-align: middle;
	color: #464646;
	border-width: 2px 0 2px 2px;
	border-style: solid;
	border-color: #e0e2e7;
	border-radius: 8px 0 0 8px;
	outline: 0;
	background-color: #fff;
	padding-right: 31px;
	position: relative;
}
.search-field::placeholder {
}
.search-field:focus::placeholder {
	color: rgb(70, 70, 70);
}
.search-field:after {
	position: absolute;
	content: "";
	height: 1px;
	right: 0;
	background-color: rgb(70, 70, 70);
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}
.search-field:before {
	position: absolute;
	content: "";
	height: 1px;
	right: 0;
	top: 50%;
	background-color: rgb(70, 70, 70);
	transform: translateY(-50%);
	width: 20px;
}
.search-form > span {
	/* display: table-cell; */
	vertical-align: middle;
}
.search-button {
	position: relative;
	font-size: inherit;
	/* display: table; */
	width: 110px;
	height: 53px;
	padding: 0;
	cursor: pointer;
	white-space: nowrap;
	color: #fff;
	border-width: 0;
	border-radius: 0 8px 8px 0;
	outline: 0;
	background-color: #38a100;
	box-sizing: border-box;
}
.search-button span,
.search-button svg {
	line-height: 52px;

	display: inline;

	vertical-align: middle;
}
.search-button span {
	padding: 5px;
	color: #ffffff;
}
.search-button:hover:before {
	width: 0;
}
.search-button:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	content: "";
	transition: all 0.5s ease;
	opacity: 0.2;
	/* display: flex; */
	/* align-items: center; */
	background: -moz-linear-gradient(
		left,
		#f8f7f5 0,
		#f8f7f5 1%,
		rgba(248, 247, 245, 0) 100%
	);
	background: -webkit-linear-gradient(
		left,
		#f8f7f5 0,
		#f8f7f5 1%,
		rgba(248, 247, 245, 0) 100%
	);
	background: linear-gradient(
		to right,
		#f8f7f5 0,
		#f8f7f5 1%,
		rgba(248, 247, 245, 0) 100%
	);
}
.small-search-button {
	width: 54px;
}
.small-search-button span {
	display: none;
}
.footer {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	text-align: center;
	word-wrap: normal;
	outline-width: 2px 2px 0 2px;
	outline-style: solid;
	outline-color: #e0e2e7;
	background-color: #fff;
}
.footer * {
	font-weight: 300;
	line-height: 35px;

	display: inline-block;

	padding: 0 15px;

	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

	color: #242423;
}
.footer a {
	text-decoration: none;
}
.add-property {
	font-weight: 300;
	line-height: 35px;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	width: 250px;
	margin: 0 auto 0 auto;

	cursor: pointer;
	text-align: center;

	color: #242423;
	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #e0e2e7;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #fff;
}
.add-property:hover,
.footer :hover {
	color: #fff;
	background-color: #38a100;
}
.home-link img {
	height: 50px;
	margin: 5px 15px 1px 11px;

	border: 0;
}
.autocomplete-suggestions {
	overflow: auto;

	margin-top: 3px;

	border: 1px solid #cbd3dd;
	background: #fff;
}
.autocomplete-suggestion {
	overflow: hidden;

	padding: 5px 15px;

	white-space: nowrap;
}
.autocomplete-selected {
	background: #f0f0f0;
}
.autocomplete-suggestions strong {
	font-weight: 400;

	color: #718edc;
}
.top-properties-container {
	display: block;

	padding: 0;
	padding-bottom: 40px;
}
.properties {
	font-family: Arial, Helvetica, sans-serif, Tahoma;

	max-width: 1000px;
	margin: 0 auto 0 70px;
}
.property * {
	word-wrap: break-word;
}
.properties > div {
	font-size: 16px;

	display: table;

	width: 100%;

	text-align: left;
	vertical-align: top;
}
.properties > div > div {
	display: table-cell;

	padding: 20px;

	vertical-align: top;

	-text-align: left;
}
.property-name {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;

	display: block;

	margin-bottom: 5px;
	padding-right: 7px;

	text-decoration: none;

	color: #111fad;
}
a.property-name:hover {
	text-decoration: underline;
}
a.property-name:visited {
	color: #609;
}
.property-price {
	font-size: 0.9rem;

	white-space: nowrap;

	color: gray;
}
.property-price span {
	font-size: 0.9rem;
	font-weight: bolder;

	margin-right: 0.3rem;

	color: #ce0e11;
}
.original-price {
	font-size: 0.7rem;

	margin-top: 0.3rem;

	white-space: nowrap;

	color: gray;
}
.original-price span {
	font-size: 0.7rem;

	margin-right: 0.1rem;
}
.property-city {
	font-size: 10pt;

	white-space: nowrap;

	color: #1d4fb9;
}
.property-city:hover {
	text-decoration: underline;
}
.property-type {
	font-size: 10pt;

	color: grey;
}
.property-desc {
	font-size: 14px;

	color: #464646;
}
.property-links {
	font-size: 10pt;

	display: block;

	margin-top: 5px;
	margin-bottom: 8px;

	color: #70757a;
}
.property-links a {
	line-height: 1.58;

	text-decoration: none;

	color: #111fad;
}
.property-address {
	font-size: 10pt;

	white-space: nowrap;

	color: grey;
}
.properties > div > div:first-child {
	width: 157px;
}
.properties > div > div:last-child {
	width: 100px;
}
.property-type {
	display: block;
}
.property-description {
	display: inline;
}
.main-links {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.main-link {
	line-height: 1.58;

	margin: 0.5rem;

	white-space: nowrap;
	text-decoration: none;

	color: #111fad;
}
.main-amount {
	font-weight: 400;

	margin-top: 1rem;
	margin-bottom: 1rem;
}
.main-amount a {
	color: #242423;
}
.lang-block {
	opacity: 0;
	display: flex;
	position: fixed;
	align-items: flex-start;
	z-index: 10;
	/* top: 30px; */
	z-index: 100;
	right: 0;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	border: 2px solid #e0e2e7;
	border-top: none;
	border-right: none;
	border-radius: 0 0 0 6px;
	/* padding: 8px; */
	background: #fff;
	transition: all 1s;
}
.lang-block a {
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px;
	/* padding-left: 10px; */
	/* padding-right: 3px; */
	/* color: #000; */
	max-height: 30px;
	cursor: pointer;
}
.lang-block img {
	height: 18px;
	margin-top: -5px;
	margin-left: 4px;

	vertical-align: middle;
}
.lang-block li {
	font-size: 14px;
	line-height: 30px;
	display: block;
	height: 30px;
	list-style-type: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	/* border-bottom: 1px solid #bfbfbf; */
	border-left: 2px solid #e9e7e7;
	border-right: 2px solid #ede7e7;
	background-color: #fff;
}
.lang-block .act {
	position: absolute;
	top: -30px;
	right: 0;
	/* width: 58px; */
	border-bottom-left-radius: 5px;
}
.lclosed {
	/* display: none; */
	/* height: 131px; */
	overflow: hidden;
	/* height: 30px; */
	/* width: 115px; */
	transition: all 1s;
}
.lang-block span {
	margin: 0 3px;
	font-size: 17px;
	line-height: 0;
	transform: scaleX(0.8);
}
.lang-block li span:last-child {
	transform: scaleX(0.8);
	margin: 0 0px;
}
.arcticmodal-container,
.arcticmodal-overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.arcticmodal-container {
	overflow: auto;

	margin: 0;
	padding: 0;

	border-collapse: collapse;

	border: 0;
}
.arcticmodal-container_i {
	height: 100%;
	margin: 0 auto;
}
.arcticmodal-container_i2 {
	margin: 0;
	padding: 0;

	vertical-align: middle;

	border: 0;
}
.box-modal {
	font-size: 20px;

	position: relative;

	width: 260px;
	max-width: 100%;
	padding: 20px 30px;

	color: #000;
	background: #fff;
}
.box-modal_close {
	font-size: 13px;
	line-height: 15px;

	position: absolute;
	top: 6px;
	right: 10px;

	cursor: pointer;

	color: #999;
}
.box-modal_close:hover {
	color: #6897bb;
}
.g-hidden {
	display: none;
}
.box-modal form button,
.box-modal form div {
	margin-left: -8px;
}
.box-modal form div {
	font-size: 25px;
	font-weight: 300;

	text-align: center;
}
.box-modal input {
	font: inherit;

	width: 100%;
	margin: 10px 0;
	margin-left: -8px;
	padding: 10px 5px;

	border: 3px solid #3964bf;
	outline: 0;
}
.box-modal input:focus,
.box-modal input:hover {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

	border: 3px solid #96b9ff;
}
.box-modal form {
	text-align: center;
}
.box-modal button {
	font: inherit;
	font-size: 20px;
	font-weight: 100;

	display: inline;

	margin: 12px;
	margin-bottom: 7px;
	padding: 10px 25px;

	color: #fff;
	border: 0;
	border-radius: 0.5rem !important;
	outline: 0;
	background-color: #3964bf;
}
.box-modal button:focus,
.box-modal button:hover {
	background-color: #718edc;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}
@media (max-width: 500px) {
	.container > h3 {
		display: none;
	}
}
@media (max-width: 640px) {
	.properties > div > div {
		display: block !important;

		margin-top: 0;
		padding-top: 5px;
		padding-bottom: 0;
	}
	.properties > div > div:last-child {
		width: auto;
		margin-bottom: 10px;
	}
	.properties > div > div > * {
		display: inline-block;

		margin: 0 !important;
		padding: 0 !important;
	}
	.properties > div > div:first-child {
		width: auto;
	}
	.property-name {
		font-size: 10.5pt;
		font-weight: 700;
	}
	.property-type {
		display: block !important;
	}
	.container {
		padding-bottom: 35px;
	}
	.container > h1 {
		font-size: 21px;

		max-width: 100%;
		margin: 0 0 8px;
		padding-top: 20px;

		text-align: center;
	}
	.properties {
		margin: 0 auto;
	}
	.fresult-label {
		margin-left: auto;

		text-align: center;
	}
	.search-form {
		margin: 0 auto;
	}
}
.property-profit {
	font-size: 9pt;

	text-align: right;

	color: #38a100;
}
.go-back {
	font-size: 10pt;

	text-decoration: none;

	color: #1d4fb9;
}
.go-back:hover {
	text-decoration: underline;
}

@media (max-width: 640px) {
	.add-property {
		display: none;
	}
	.top-properties-container {
		margin-bottom: 2rem;
	}
}
.all-filters {
	display: none;
	/* width: 100%; */
}
.filters-block {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 18px;
	font-weight: 300;
	margin-right: auto;
	margin-left: 241px;
	color: #464646;
}
.filters-block .dropbtn,
.filters-block .dropdown:hover .dropbtn {
	font-size: 1rem;

	margin: 1rem 0.5rem 0 0;
	padding: 0.5rem 1rem 0.5rem 1rem;

	cursor: pointer;

	color: #464646;
	border-width: 2px;
	border-style: solid;
	border-color: #e0e2e7;
	border-radius: 8px;
	background-color: #fff;
}
.filters-block .dropdown {
	position: relative;

	display: inline-block;
}
.filters-block .dropdown-content {
	position: absolute;
	z-index: 1;

	display: none;

	min-width: 160px;

	background-color: #f9f9f9;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.filters-block .dropdown-content .selected,
.filters-block .dropdown-content a {
	display: block;

	padding: 12px 16px;

	white-space: nowrap;
	text-decoration: none;

	color: #000;
}
.filters-block .dropdown-content .selected {
	color: #38a100;
}
.filters-block .dropdown-content a:hover {
	background-color: #f1f1f1;
}
.filters-block .dropdown:hover .dropdown-content {
	display: block;
}
@media (max-width: 640px) {
	.filters-block {
		margin-left: auto;

		text-align: center;
	}
	.filter-buttons {
		display: none;
	}
	.all-filters {
		display: block;
	}
}
.container {
	padding-top: 15px;
	padding-bottom: 15px;
}
.pagination {
	font-size: 0;

	text-align: center;
}
.pagination li {
	display: inline;
}
.pagination a {
	font-size: 15px;

	display: inline-block;

	margin-top: 10px;
	margin-right: -1px;
	padding: 5px 8px;

	border: 1px solid #bfbfbf;
}
.pagination a {
	text-decoration: none;
}
.pagination .active a {
	z-index: 10;

	padding: 7px 10px;

	border: 2px solid #bfbfbf;
}
.social-icon {
	height: 16px;

	vertical-align: middle;
}
.nobr {
	white-space: nowrap;
}
.start-page {
	padding-top: 120px;
}
.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 20;
	box-sizing: border-box;
}
.header > .container {
	padding: 0 40px;
	display: flex;
	flex-direction: row;
	width: 100%;
	/* max-width: 100%; */
	align-items: center;
	justify-content: space-between;
	/* max-width: 1500px; */
}
.header ul {
	list-style: none;
	margin: 0;
	/* display: block; */
}
.header::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: #d8dbe1;
	z-index: -1;
}
.logo {
}
.logo__item {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 200px;
	object-fit: contain;
}
.nav {
	font-weight: 400;
	height: 100%;
	flex-grow: 1;
	margin-left: 40px;
}
.nav__list {
	display: flex;
	flex-direction: row;
}
.nav__item {
	text-align: center;
	vertical-align: middle;
	position: relative;
	border-bottom: 1px;
	transition: all 0.3s;
	background-color: rgba(24, 36, 23, 0);
	margin: 0 2px;
}
.nav__item:hover::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: #38a100;
	opacity: 1;
	transition: all 0.3s ease;
}
.nav__item:hover {
	background-color: rgba(24, 36, 23, 0.068);
	transition: all 0.3s ease;
}
.nav__item::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: #38a100;
	opacity: 0;
	transition: all 0.5s ease;
}
.nav__item > a {
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 2.25rem 1.5rem;
	position: relative;
}

.nav__item > a::before:hover {
	opacity: 1;
}
.nav__item > a::after {
	position: absolute;
	content: "";
	width: 0px;
	right: 10px;
	top: 50%;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #232831;
	vertical-align: middle;
	margin-left: 0.5rem;
	display: inline-block;
	transform: translateY(-50%);
}
.nav__item li:hover {
	background-color: rgba(24, 36, 23, 0.068);
	transition: all 0.3s ease;
}
.nav__item li {
	transition: all 0.3s ease;
}
.sub__menu {
	list-style: none;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	flex-shrink: 0;
	min-width: 100%;
	text-align: left;
	background-color: #fff;
	padding: 10px 0px;
	z-index: 18;
	box-shadow: 0px 0px 30px 0px rgba(15, 27, 56, 0.1);
}
.sub__menu li {
	padding: 2px 5px;
	display: block;
	width: auto;
}
.sub__menu a {
	padding: 10px 50px 10px 10px;
	width: auto;
	display: flex;
	/* flex-direction: row; */
	text-decoration: none;
	color: #000;
	display: block;
	transition: all 0.3s ease;
	cursor: pointer;
	font-size: 16px;
	white-space: nowrap;
}
.sub__menu ul {
	/* min-width: 100%; */
}

.sub__menu-parent {
	position: relative;
	transition: all 0.3s ease;
}
.sub-sub__menu {
	position: absolute;
	left: 100%;
	top: -10px;
	text-align: left;
	background-color: #fff;
	padding: 10px 0px;
	transition: all 0.3s ease;
	z-index: 30;
	box-shadow: 0px 0px 30px 0px rgba(15, 27, 56, 0.1);
}
.authorization {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.authorization button {
	margin-left: 30px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 20px;
	border: none;
	border-radius: 4px;
	position: relative;
	/* margin-right: 30px; */
	outline: none;
	font-size: 16px;
	font-family: inherit;
}
.authorization .search-button {
	background-color: #caccc9;
	width: auto;
	padding: 15px 11px 15px 31px;
	color: #000;
}
.authorization .search-button span {
	line-height: 20px;
	color: #000000;
}
.authorization button::after {
	position: absolute;
	z-index: 10;
	content: "";
	height: 18px;
	width: 18px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../images/control_point-24px.svg);
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.7;
}
.authirization__links a {
	position: relative;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
.authirization__links a:first-child::after {
	content: " /";
}
.authirization__links a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;
	width: 0px;
	height: 1px;
	background-color: #000000;
	transition: 0.2s;
}
.authirization__links a:hover::before {
	width: 100%;
	transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.authirization__links a {
	position: relative;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
.show {
	opacity: 1;
	pointer-events: all;
	transition: all 0.3s ease;
	transform: scale(1);
}
.hidden {
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
	transform: scale(0.9);
}
.parent-hover {
	background-color: rgba(24, 36, 23, 0.068);
	transition: all 0.3s ease;
}
.multi-col {
	flex-shrink: 0;
	flex-direction: row;
	transform: translatex(-40%);
}
.multi-col a {
	display: inline-block;
}

.multi-col ul {
	display: block;
	flex-direction: column;
}
.sub__menu-arrow::after {
	position: absolute;
	right: 0.5rem;
	line-height: inherit;
	top: 42%;
	content: "";
	width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #232831;
	vertical-align: middle;
	margin-left: 0.5rem;
	transform: rotate(-90deg);
}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	/* color: rgb(0, 0, 0); */
	/* width: 220px; */
}
.select-styled {
	/* min-height: 50px; */
	position: relative;
	/* top: 0; */
	/* right: 0; */
	/* bottom: 0; */
	/* left: 0; */
	height: 100%;
	background-color: #ffffff;
	padding: 8px 15px;
	transition: all 0.2s ease-in;
	border: 2px solid #e0e2e7;
	/* border-right-width: 1px; */
	display: flex;
	align-items: center;
	padding-right: 30px;
	box-sizing: border-box;
}
.select-styled::after {
	content: "expand_less";
	font-family: "Material Icons";
	position: absolute;
	opacity: 0;
	top: 50%;
	right: 10px;
	/* font-size: 20px; */
	transform: translateY(-50%) scale(0);
	transition: all 0.3s;
}
.select-styled::before {
	content: "expand_more";
	font-family: "Material Icons";
	position: absolute;
	opacity: 1;
	top: 50%;
	right: 10px;
	transition: all 0.3s;
	transform: translateY(-50%) scale(1);
}
.select-styled.active:before {
	opacity: 0;
	transform: translateY(-50%) scale(0);
	transition: all 0.3s;
}

.select-styled.active:after {
	opacity: 1;
	transform: translateY(-50%) scale(1);
	transition: all 0.3s;
}
.select-styled:hover {
	background-color: rgba(24, 36, 23, 0.068);
}
.select-styled.active {
	background-color: rgba(24, 36, 23, 0.068);
}
.select-options {
	/* display: none; */
	position: absolute;
	top: calc(100%);
	/* right: 0; */
	left: 0px;
	z-index: 18;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	width: auto;
	min-width: 100%;
	border: 2px solid #e0e2e7;
	border-top: none;
	border-radius: 0 0 8px 8px;
}
.select-options li {
	width: auto;
	min-width: 130px;
	display: block;
	margin: 0;
	padding: 12px 14px;
	padding-left: 16px;
	border-top-width: 0px;
	text-align: left;
	/* border: 1px solid #e0e2e7; */
	transition: all 0.15s ease-in;
}
.select-options li:hover {
	color: #000;
	background: rgb(240 240 240);
}
.select-options li[rel="hide"] {
	display: none;
}
.clear-input {
	color: #000;
	position: absolute;
	display: flex;
	align-items: center;
	border-top: 2px solid #e0e2e7;
	border-bottom: 2px solid #e0e2e7;
	padding-right: 10px;
	padding-left: 10px;
	height: 100%;
	width: 30px;
	right: 0;
	opacity: 0;
	margin: 0;
	box-sizing: border-box;
	cursor: pointer;
}
.clear-input:before {
	content: "";
	width: 20px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgb(192, 191, 191);
	transform: translate(-50%, 50%) rotate(45deg);
	transition: 0.2s;
}

.clear-input:after {
	content: "";
	width: 20px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgb(192, 191, 191);
	transition: 0.2s;
	transform: translate(-50%, 50%) rotate(-45deg);
}
.clear-input:hover::before {
	background-color: rgb(29, 29, 29);
}
.clear-input:hover::after {
	background-color: rgb(29, 29, 29);
}
.search-label {
	display: flex;
	position: relative;
	flex-grow: 1;
	margin: 0;
	/* height: 100%; */
}
.searcharea {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	z-index: 40;
	background: #fff;
	border-radius: 5px;
	border: solid 1px #e0e2e7;
	box-shadow: 0px 0px 30px 0px rgba(15, 27, 56, 0.1);
	padding: 7px 13px 6px 24px;
	font-size: 16px;
	font-family: Arial;
}
.searcharea input {
	position: relative;
	z-index: -10;
	width: 0;
	height: 0;
}

.searcharea input:checked:before {
	background-image: url(../images/gps_fixed-24px.svg);
	opacity: 1;
}
.searcharea input::before {
	position: absolute;
	content: "";
	opacity: 1;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
	transform: translate(-90%, -85%);
	background-repeat: no-repeat;
	background-image: url(../images/gps_not_fixed-24px.svg);
	background-size: contain;
}
.search__drop {
	position: relative;
}
.search__drop-link {
	position: relative;
}
.search__drop-link::after {
	content: "expand_less";
	font-family: "Material Icons";
	position: absolute;
	opacity: 0;
	top: 50%;
	right: 10px;
	transform: translateY(-50%) scale(0);
	transition: all 0.3s;
}
.search__drop-link.droped-link::after {
	opacity: 1;
	transform: translateY(-50%) scale(1);
	transition: all 0.3s;
}
.search__drop-link::before {
	content: "expand_more";
	font-family: "Material Icons";
	position: absolute;
	opacity: 1;
	top: 50%;
	right: 10px;
	transition: all 0.3s;
	transform: translateY(-50%) scale(1);
}
.search__drop-link.droped-link::before {
	opacity: 0;
	transform: translateY(-50%) scale(0);
	transition: all 0.3s;
}
.search__drop a {
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 37px 0px 15px;
	border: 2px solid #e0e2e7;
	color: #747070;
	box-sizing: border-box;
	position: relative;
}
.search__drop a:hover {
	background-color: rgba(24, 36, 23, 0.068);
}
.search__drop li {
	display: flex;
	align-items: center;
	/* flex-direction: column; */
}
.price-field {
	border: 1px solid #e0e2e7;
	outline: none;
	font-size: 16px;
	padding: 10px 37px 10px 10px;
	max-width: 100%;
	box-sizing: border-box;
}
.with-slash::before {
	content: "|";
	position: absolute;
	left: -9px;
	top: 4px;
	color: #d3d1d1;
}
.pricebox {
	/* position: absolute; */
	/* left: 0; */
	/* right: 0; */
	height: 0;
	width: 0;
	margin-right: 0px;
	/* display: none; */
	/* margin: 0px 0 0 17px; */
	/* position: relative; */
}

.pricebox::before {
	content: "";
	position: absolute;
	/* height: 21px; */
	/* width: 21px; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* transform: translate(-50%, -50%); */
	/* background-image: url(../images/check_box_outline_blank-24px.svg); */
	/* fill: #38a100; */
	border-radius: 5px;
	background-color: #ffffff;
	z-index: -1;
}
.pricebox:checked::before {
	background-color: #dbeefb;
}
.pricebox-label {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	/* margin-right: 18px; */
	margin: 0 7px;
	z-index: 0;
	padding: 5px 9px 5px 5px;
}
.dropdown-search {
	transform: translatex(-100%);
	left: 100%;
	border-radius: 5px;
	z-index: 2;
	display: flex;
	/* flex-direction: row; */
	border: 1px solid #e9e6e6;
	border-radius: 0 0 8px 8px;
	box-shadow: none;
}
.dropdown-label {
	/* margin-right: 20px; */
}
.filter_input {
	display: none;
}
.filter-drop-list {
	width: calc(100% + 1px);
	align-items: flex-end;
	left: -1px;
	/* transform: translateX(-100%); */
	display: block;
	/* padding: 10px; */
	border: 2px solid #e9e9e9;
	border-top: none;
	border-radius: 0 0 8px 8px;
}
.filter-drop-list label {
	width: 100%;
	text-align: left;
}
.filter-drop-list li {
	width: 100%;
	flex-direction: column;
}
.filter-drop-list a {
	border: none;
	text-align: end;
	/* align-self: flex-end; */
	display: block;
	width: 100%;
	padding: 12px 14px;
	/* padding-bottom: 5px; */
	padding-right: 9px;
	padding-left: 16px;
	text-align: left;
	white-space: normal;
}
.filter-drop-list a:hover {
	background-color: #e0e2e7;
}
.popup__header {
	font-size: 27px;
	margin-bottom: 20px;
	align-self: center;
}

.popup-overlay {
	z-index: 29;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.07);
}

.popup__input {
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
	padding: 13px;
	background: #fff;
	outline: none;
	border: solid 1px #dad9d9;
}

.popup__button {
	margin-top: 54px;
	display: block;
	padding: 13px 64px;
	cursor: pointer;
	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.popup__button:hover {
	color: #fbfbfb;
	border: solid 1px #ff4e2e;
	background-color: #ff4e2e;
}

.popup {
	max-width: 1200px;
	width: 100%;
	/* height: 85vh; */
	margin-top: 10px;
	/* height: auto; */
	top: 0;
	left: 50vw;
	max-height: 97vh;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, 0px);
	/* max-width: 500px; */
	/* width: auto; */
	background-color: #fbfbfb;
	z-index: 30;
	position: fixed;
	padding: 20px 20px 40px 20px;
	background-color: #fbfbfb;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-shrink: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: self-start;
	overflow-y: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
}

.popup__close {
	width: 20px;
	height: 20px;
	position: sticky;
	top: 0px;
	/* left: 0; */
	align-items: auto;
	align-self: flex-end;
	flex-shrink: 0;
}

.popup__close::before {
	position: absolute;
	/* left: 0; */
	top: 50%;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #6e6c6c;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup__close::after {
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #918e8f;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.price-drop {
	left: 100%;
	transform: translatex(-77%);
	/* left: auto; */
}
.price-drop.center {
	left: 0;
	background-color: transparent;
	transform: translatex(0%);
	border: none;
	padding-top: 0;
}
.popup-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 35px;
	margin-bottom: 15px;
	flex-shrink: 0;
	justify-content: flex-start;
}
.popup-row > div:first-child {
	text-align: right;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	/* min-width: 278px; */
	width: 32%;
	padding-right: 20px;
	flex-shrink: 0;
}
.popup-row > div:first-child span {
	font-size: 20px;
}
.input-block {
	min-height: 45px;
	display: flex;
	flex-direction: row;
	max-width: 90%;
	/* align-items: center; */
	min-width: 72px;
}
.input-block label {
	/* max-width: 50%; */
	box-sizing: border-box;
	align-items: center;
	margin-left: 10px;
}
.burger-side {
	display: none;
	flex-grow: 2;
	align-items: flex-start;
}
.values-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 70%;
	/* align-items: center; */
	justify-content: center;
}
.check-box-block {
	padding-top: 10px;
	padding-bottom: 10px;
	flex-direction: row;
	display: flex;
	margin-left: 22px;
}
.filers-input {
	max-width: 80px;
	border: 2px solid #e0e2e7;
	border-radius: 0.5rem;
	padding: 9px;
	outline: none;
	/* margin: 5px; */
	margin: 0 5px;
	box-sizing: border-box;
	/* min-height: 50px; */
	font-size: 16px;
}
.short-value div {
	height: 100%;
	width: 80px;
}
.country-select {
	min-width: 174px;
	border: 2px solid #e0e2e7;
	outline: none;
	margin: 0px 30px;
	border-radius: 0.5rem;
	background-color: #fff;
}
.country-select:hover {
	background-color: rgba(24, 36, 23, 0.068);
}
.popup-disabled-select {
	pointer-events: none;
	border-color: #f1f1f1;
}
.popup-disabled-select::after {
	border-top-color: #f1f1f1;
}
.popup .select-styled {
	padding: 8px 15px;
	/* position: absolute; */
	height: 100%;
	/* margin-left: 30px; */
	/* width: 100%; */
	padding-right: 40px;
	min-width: 130px;
	/* display: block; */
	flex-shrink: 0;
	position: relative;
	/* align-items: center; */
	border-radius: 0.5rem;
	transition: 0s;
}
.popup .select-styled.active {
	border-radius: 0.5rem 0.5rem 0px 0px;
}
.popup .select {
	margin-left: 30px;
	/* padding-right: 29px; */
	display: flex;
	width: auto;
}
.popup .select-options {
	width: 100%;
	border-radius: 0 0 0.5rem 0.5rem;
}
.popup .pricebox {
	margin-right: 20px; /* margin-top: 1px; */
}
.popup .pricebox::before {
	content: "";
	position: absolute;
	height: 21px;
	width: 21px;
	top: 0;
	left: 0;
	/* right: 0; */
	/* bottom: 0; */
	/* transform: translate(15%, 50%); */
	background-image: url(../images/check_box_outline_blank-24px.svg);
	/* fill: #38a100; */
	border-radius: 5px;
	background-color: #ffffff;
	z-index: -1;
}
.popup .pricebox:checked::before {
	/* transform: translate(-50%, -50%); */
	background-image: url(../images/check_box-24px.svg);
	border-radius: 5px;
	background-color: #ffffff;
	z-index: -1;
}
.short-value {
	margin-left: -30px;
	padding: 3px 0px;
}
.with-wrap {
	flex-wrap: wrap;
}
.with-wrap .pricebox-label {
	min-width: 200px;
	margin-bottom: 10px;
}
.totop {
	align-self: flex-start;
	padding-top: 6px;
}
.tocenter {
	align-self: center;
	/* margin-right: -10px; */
	/* margin-left: 30px; */
}
.popup-text-filt {
	margin-left: 30px;
	max-width: none;
}
.popup .accept-button {
	border-radius: 10px;
	margin-left: 28px;
	margin-top: 30px;
}
.popup .cancel-button {
	border-radius: 10px;
	margin-left: 30px;
	background-color: #adaead;
	margin-top: 30px;
}
input[type="radio"]:checked + .text {
	color: #f53f4f;
}
input[type="radio"]:checked + .text {
	color: #f53f4f;
}
.lang-container {
	display: flex;
}
.lang-radio {
	display: none;
	/* width: 9px; */
	/* height: 0; */
}
.lang-radio:checked + .lang-label {
	background-color: rgb(8, 179, 2);
	transition: all 0.2s;
	/* margin-left: 10px; */
}
.lang-label {
	transition: all 0.2s;
	padding: 0 12px;
	cursor: pointer;
}
.lang-block .select {
	height: auto;
	min-height: 32px;
	max-width: 89px;
}
.lang-block {
	overflow: visible;
}
.lang-block .select-styled {
	width: 88px;
	min-height: 32px;
	border: none;
	text-transform: none;
}
.lang-block .select-options li {
	height: auto;
	min-height: 32px;
	padding: 0 10px;
}
.lang-block .select-block {
	padding-top: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.lang-block .accept-button {
	border-radius: 8px;
	width: auto;
	height: auto;
	padding: 10px;
	/* margin: 23px 10px; */
	margin: 0 13px;
}
.lang-block .cancel-button {
	position: absolute;
	right: 0;
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
	width: 40px;
	height: 40px;
	background-color: #c6c5c5;
	flex-grow: 0;
	top: 0;
	/* transform: translate(-100%, -100%); */
}
.lang-block .popup__close {
	order: -1;
	position: absolute;
	top: 10px;
	right: 10px;
}
.lang-container {
	transition: all 0.2s;
}
.lang-container:hover {
	background-color: #c6c5c5;
}
.lang-options {
	display: flex;
	flex-direction: row;
	transition: all 0.6s;
}
.lang-options li {
	border: none;
}
.lang-options .lang-label {
	width: 100%;
	text-align: left;
}
.lang-options .select-options {
	width: 100%;
}
.lang-options .select-options li {
	max-width: 100%;
	min-width: 0;
}

.counter-container {
	position: relative;
}
.counter-container .counter {
	position: absolute;
	top: 10px;
	left: 10px;
	color: rgb(135 134 173);
	z-index: 2;
	font-size: 17px;
}
.owl-next {
	right: 20px;
}
.owl-prev {
	left: 20px;
}
.curent {
	font-size: 20px;
	color: rgb(0, 118, 197);
}
.total {
	font-size: 16px;
	color: rgb(127, 127, 128);
}
.pricebox.bests {
	display: block;
	margin-right: 17px;
	position: relative;
}
.pricebox.bests:checked::before {
	content: "";
	background-image: url(../images/icons8-checkmark.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	transform: translate(-50%, -50%);
	height: 21px;
	width: 21px;
}
.price-interval {
	display: flex;
	align-items: center;
	border: 1px solid #e0e2e7;
	padding-right: 12px;
	background-color: white;
	border-radius: 7px;
}
.price-interval .price-field {
	border: none;
	width: 130px;
	border-radius: 20px;
}
.price-interval .clear-input {
	border: none;
}
.price-interval:last-child {
	margin-left: -1px;
	padding: 4px 0;
}
.center li {
	padding-left: 0;
}
@media (max-width: 1300px) {
	.search-label .clear-input {
		height: calc(100% - 15px);
	}
	.search-form .select {
		min-width: auto;
	}

	.search-button span {
	}
	.search-button {
		width: auto;
		padding: 10px;
		/* border-radius: 0; */
		display: flex;
		align-items: center;
	}
	.select-options {
		top: calc(100% - 15px);
	}
	.select-styled {
		/* padding: 4px 28px 4px 4px; */
	}
	.popup .select-styled {
		margin-bottom: 0px !important;
	}

	.select-options li {
		min-width: auto;
		padding: 8px 4px;
		padding-left: 4px;
		border-top-width: 0px;
		text-align: left;
		/* border: 1px solid #e0e2e7; */
		transition: all 0.15s ease-in;
	}
	.logo__item {
		/* max-width: 136px; */
	}
	.search-form {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.search-button {
		margin-bottom: 15px;
		border-radius: 0;
		display: flex;
		align-items: center;
	}
	.search-button span {
		display: inline;
	}
	.search-field {
		margin-bottom: 15px;
		min-height: 53px;
		/* margin-bottom: 15px; */
		border-radius: 0;
	}
	.search__drop {
		margin-left: -1px;
		min-height: 53px;
		margin-bottom: 15px;
	}
	.search__drop a {
		margin: 0px;
		/* padding: 4px 28px 4px 4px; */
	}
	.select-styled {
		margin-bottom: 15px;
		min-height: 53px;
	}
	.popup .select-styled {
		padding: 0px 15px;
	}
	.authorization .search-button {
		margin-bottom: 0;
		padding: 5px;
		height: 40px;
	}
	.authorization .search-button::after {
		display: none;
	}
	.popup .select-options {
		top: 100%;
	}
}
@media (max-width: 1150px) {
	.search-form {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.search-button {
		margin-bottom: 15px;
		border-radius: 0;
		display: flex;
		align-items: center;
	}
	.search-button span {
		display: inline;
	}
	.search-field {
		margin-bottom: 15px;
		min-height: 53px;
		/* margin-bottom: 15px; */
		border-radius: 0;
	}
	.search__drop {
		margin-left: -1px;
		min-height: 53px;
		margin-bottom: 15px;
	}
	.search__drop a {
		margin: 0px;
	}
	.select-styled {
		margin-bottom: 15px;
		min-height: 53px;
	}
	.price-drop.center {
		transform: translateX(-14%);
	}
	.price-interval {
		flex-direction: column;
		padding: 0;
	}
	.price-drop.right {
		transform: translateX(-100%);
	}
	.price-drop.center li {
		flex-direction: column;
	}
	.price-drop.center li {
		flex-direction: column;
	}
	.price-drop.right li {
		flex-direction: column;
	}
	.price-drop.right li {
		flex-direction: column;
	}
	.with-slash::before {
		display: none;
	}
}
@media (max-width: 450px) {
	.search-field {
		border-right: 2px solid #e0e2e7;
	}
}
@media (max-width: 1400px) {
	.start-page {
		padding-top: 170px;
	}
	.header > .container > .logo {
		display: none;
	}
	.nav__item > a::after {
		/* position: absolute; */
		/* left: 50%; */
		/* bottom: 15px; */
		/* margin: 0; */
		/* transform: translateX(-50%); */
	}
	.header > .container {
		flex-wrap: wrap;
	}
	.mobile-logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.mobile-logo .authorization {
		display: none;
	}
	.mobile-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	.header > .container > .logo {
		display: none;
	}
	.header > .container > .authorization {
		padding: 10px 0;
		justify-content: center;
		width: 100%;
	}
	.mobile-logo .authorization {
		display: none;
	}
	.mobile-logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.header > .container {
		flex-direction: column;
	}
	.start-page {
		padding-top: 237px;
	}
	.logo {
		margin-right: 30px;
	}
	.nav {
		margin-left: 0;
	}
	.all-filters {
		padding: 0 !important;
	}
	.filter-drop-list a {
		padding: 5px 0;
	}
	.authorization {
		justify-content: center;
	}
}
@media (max-width: 650px) {
	.popup-row > div:first-child span {
		font-size: 16px;
	}
	.nav {
		display: none;
	}
	.burger-side {
		display: flex;
	}
	.start-page {
		padding-top: 150px;
	}
	.popup-row {
		flex-direction: column;
		align-items: center;
	}
	.popup-row > div:first-child {
		width: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.values-block {
		align-items: center;
	}
	.popup .select {
		margin-left: 0;
	}
	.tocenter {
		margin-left: 0;
		margin-right: 20px;
	}
	.input-block {
		max-width: 100%;
	}
	.short-value {
		padding: 4px 0px 4px 0;
		margin-left: 0px;
		height: 46px;
	}
	.popup .select-styled {
		min-height: 40px;
	}
	.popup-text-filt {
		margin-left: 0;
	}
	.heightcorr::before {
		transform: translate(15%, 50%);
	}
}
.lang-block-close {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 20;
	display: none;
}
.lang-block2-close {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 0;
	display: none;
}
.disp {
	display: block;
}
.nav-mobile {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.nav-mobile ul {
	width: 100%;
	list-style: none;
}
.nav-mobile li {
	width: 100%;
	text-align: center;
	list-style: none;
}
.nav-mobile li div {
	transition: 0.2s;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 22px;
	position: relative;
}
.nav-mobile div:after {
	position: absolute;
	content: "";
	width: 0px;
	right: 30px;
	top: 50%;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #232831;
	vertical-align: middle;
	margin-left: 0.5rem;
	display: inline-block;
	transform: translateY(-50%);
}
.nav-mobile li div:hover {
	color: #fff;
	background-color: rgb(14 27 56);
}
.burger-container {
	padding: 12px;
	border-radius: 8px;
	background-color: #caccc9;
}
.burger {
	height: 17px;
	width: 17px;
	display: flex;
	align-items: center;
	position: relative;
	transition: 0.2s;
}
.burger span {
	display: block;
	width: 30px;
	height: 1px;

	position: relative;
	background-color: #000;
}
.burger::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: #000;
	background-image: none;
}
.burger::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
	background-color: #000;
	background-image: none;
}
.burger-open {
	background-color: #0f1b38;
}
.burger-open .burger::before {
	background-color: #fff;
}
.burger-open .burger::after {
	background-color: #fff;
}
.burger-open .burger span {
	background-color: #fff;
}
.subsub {
	padding: 10px 20px;
}
